fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
passlib[argon2]
python-multipart
pydantic[email]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
langchain
langchain-community
langchain-ollama
chromadb
unstructured[pdf]
pdf2image
py-cpuinfo
pytest
requests
langchain-experimental
langchain-unstructured
langchain-core
lxml