fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[argon2]
python-multipart
pydantic[email]
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
langchain
langchain-community
langchain-core
langchain-ollama
langchain-chroma
langchain-experimental
langchain-unstructured
unstructured[pdf]
pypdf
pdf2image
lxml
numba>=0.57.0
numpy>=1.23.5
py-cpuinfo
pytest
requests
beautifulsoup4
langgraph
qdrant-client
langchain-qdrant
langchain-huggingface
sentence-transformers
pydantic
python-dotenv
mlflow